<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, hic! Nostrum
  harum nisi perspiciatis voluptate molestiae. Ipsa deleniti, tempora adipisci
  unde consequatur, voluptas neque aspernatur nisi ullam voluptatibus vitae?
  Esse?
</p>

<%- include("footer") -%>
